<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="mainpage2Style.css" rel="stylesheet" type="text/css">
        <link href="/partials/footer.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    
    
    <body>
        <div id="greet">Hi {{name}}</div>


        <img id="logo" src="EventPlugLogo.png" />

        <form id="search" action="/artist" method="post">
            <input type="text" name="artist" id="trackSearch" placeholder="Please enter an artist name">
            <input id="searchButton" type="submit" value="Search">
        </form>
        
        <div id="switch">
            <a href="/mainpage1"><button class="buttons">Search Tracks</button></a>
            <a href="/mainpage2"><button class="buttons">Search Artist</button></a>
        </div>
        
        <div id="menu">
            <button id="menuHeader">MENU</button>
            <a href="/playlist"><button id="playlistForm" class="options">PLAYLIST</button></a>
            <a href="/venues"><button id="venuesForm" class="options">CONCERTS</button></a>
            <a href="/lyrics"><button id="lyricsForm" class="options">LYRICS</button></a>
            <a href="/"><button id="logoutForm" class="options">LOGOUT</button></a>
        </div>
        
        <div id="fake"></div>
        
        <div id="songList">
            <div id="error">{{error}}</div>
            <div id="artistDiv">
                <img id="image" src="{{image}}">
                <h1 id="name">{{artist}}</h1>
                <h3 id="bio">{{bio}}</h3>
                <h3 id="time">{{time}}</h3>
            </div>
            <div id="similarArtistsDiv">
                {{#each similar}}
                <form class="similarForm" action="/similar" method="post">
                    <img class="similarImage" src="{{image}}">
                    <h3 class="similarArtists">{{artist}}</h3>
                    <input class="buttons" id="details" type="submit" value="Details">
                    <input name="similarArtist" type="hidden" value="{{artist}}">
                </form>
                {{/each}}
            </div>
        </div>
        
        {{> footer}}
        
        <script>
            
            
            var andArr = ["menuHeader", "playlistForm", "venuesForm", "lyricsForm", "logoutForm"]
            for (var i = 0; i < andArr.length; i++){
                document.getElementById(andArr[i]).addEventListener("mouseover", function() {
                    document.getElementById("playlistForm").style.top = "60px";
                    document.getElementById("venuesForm").style.top = "110px";
                    document.getElementById("lyricsForm").style.top = "160px";
                    document.getElementById("logoutForm").style.top = "210px";
                });
            }
            
            var anArr = ["fake", "search", "logo", "greet", "footer","songList"]
            for (var i = 0; i < anArr.length; i++){
                document.getElementById(anArr[i]).addEventListener("mouseover", function() {
                    document.getElementById("playlistForm").style.top = "0px";
                    document.getElementById("venuesForm").style.top = "0px";
                    document.getElementById("lyricsForm").style.top = "0px";
                    document.getElementById("logoutForm").style.top = "0px";
                });
            };
 
        </script>
        
    </body>
</html>